html
  head
    title Tangency | Abdullah F. Khan
    link(rel="icon" href="/img/favicon.png?v=2")
    style
      | body,html{width:100vw;height:100vh}body{background:#1d1d1d;padding:0;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}#content{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%)}#canvas{border-radius:35px;box-shadow:-2px 2px 30px 5px #0f0f0f}
  body
    #content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js")
    script
      | // for readable code, visit: https://github.com/abdullah-K/experiments/tree/master/tangency
      | function func(a){return 2*Math.sin(2*a)}let scale=5,zoom=1,minZoom=1,maxZoom=5,zoomSensativity=0.019;function grid(){let a=Math.round(scale);stroke(80),strokeWeight(2),line(width/2,0,width/2,height),line(0,height/2,width,height/2),fill(220),text(a,width-20,height/2+20),text(-a,10,height/2+20),text(a,width/2+10,20),text(-a,width/2+10,height-10)}let canvasSize=500>window.innerWidth?300:600>window.innerWidth?500:550;function setup(){let a=createCanvas(canvasSize,canvasSize,P2D);a.parent("content"),a.id("canvas"),cursor(CROSS)}function windowResized(){canvasSize=500>window.innerWidth?300:600>window.innerWidth?500:550,resizeCanvas(canvasSize,canvasSize),xCoords.length=0,graph.plot(a=>func(a))}let xCoords=[],slope=(a,c,d)=>(a(c+d)-a(c))/d,linear=(a,c,d)=>a*c+d,graph={plot:a=>{translate(width/2,0);let c=[0*scale,2*scale,-scale,scale],d=width/(c[1]-c[0]),e=height/(c[3]-c[2]);beginShape();for(let f=-width/2;f<width/2;f++){let g=f/d-c[0],i=(a(g)-c[2])*e;i=height-i,xCoords.push(f),noFill(),stroke(54,136,249),strokeWeight(2.5),vertex(f,i)}endShape()},trace:()=>{noStroke(),fill(54,136,249);let a=map(mouseX,0,width,xCoords[0],xCoords[xCoords.length-1]);ellipse(a,(-func(a/(width/(2*scale)))+scale)*(height/(2*scale)),10,10)},tangent:()=>{let a=map(mouseX,0,width,xCoords[0],xCoords[xCoords.length-1]),c=(-func(a/(width/(2*scale)))+scale)*(height/(2*scale)),d=a/(width/(2*scale)),e=slope(func,d,1e-9),f=-(e*a+c),g=70,i=linear(e,a-g,f),j=linear(e,a+g,f);strokeWeight(2),stroke(249,136,54),line(a-g,-i,a+g,-j),stroke(80),strokeWeight(2),fill(220),text(`x = ${d.toFixed(2)}`,-(width/2)+25,35),text(`d/dx = ${e.toFixed(3)}`,-(width/2)+25,55)}};function draw(){background(51),grid(),graph.plot(a=>func(a)),graph.tangent(),graph.trace()}function mouseWheel(a){zoom,scale+=zoomSensativity*a.delta,zoom=constrain(zoom,minZoom,maxZoom),scale=constrain(scale,2,5*maxZoom),xCoords.length=0}
  footer#footer(style="position: absolute; bottom: 2%; right: 2%;")
    a#footer-link(href='/')
      #footer-content
        img#footer-logo(src='/img/logo_bare.png', alt='Abdullah\'s logo')