extends ../layout

block head
  // CSS file for the blog
  link(rel="stylesheet" href="/css/blog-styles.min.css?v=1")
  
block content
  #posts-container
    -
       let posts = {
         post0: {
           "slug": "introduction",
           "title": "An Introduction",
           "date": "January 5, 2018",
           "preview": "Well, I figured I needed to introduce myself and my little corner of the internet to the world!"
         },
         post1: {
           "slug": "tangency",
           "title": "Tangency - An Experiment",
           "date": "March 25, 2018",
           "preview": "An explanation of how one of my experiments, Tangency, works."
         },
         post2: {
           "slug": "react-native-stopwatch",
           "title": "Stopwatch",
           "date": "December 20, 2018",
           "preview": "How I built my first React Native mobile application — a stopwatch."
         }
       }

    ul#posts-list
      - for(let n = 0; n < numberOfPosts; n++)
        - let postLink = "/blog/" + posts[`post${n}`].slug
        - let postTitle = posts[`post${n}`].title
        - let postDate = posts[`post${n}`].date
        - let postPreview = posts[`post${n}`].preview
        li.post
          a(href=postLink target="_blank").post-link
            h4.post-date=postDate
            h2.post-heading.size-limit-title=postTitle
            p.post-preview.size-limit-preview=postPreview
